<ion-header>
  <ion-toolbar class="bg-color">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard2" color="light"></ion-back-button>
    </ion-buttons>
    <ion-title class="head-title" color="light">
      Create Quiz 5/5
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="donation-page">
  <ion-card class="donation-card">
    <ion-card-header>
      <ion-card-title class="text" color="light" >What is the best programming language?</ion-card-title>
      <ion-icon class="load" name="create-outline" size="large"  (click)="presentPopover($event)"></ion-icon>
    </ion-card-header>

    <ion-card-content>
      <ion-list>
        <ion-radio-group>
          <ion-item>
            <ion-label>Python</ion-label>
            <ion-radio slot="start" value="100" ></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Html</ion-label>
            <ion-radio slot="start" value="200"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>C++</ion-label>
            <ion-radio slot="start" value="500"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>Java</ion-label>
            <ion-radio slot="start" value="1000"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card class="donation-card">
    <ion-card-header>
      <ion-card-title class="text" color="light" >What is the best course for Programming?</ion-card-title>
      <ion-icon class="load" name="create-outline" size="large" (click)="presentPopover($event)"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-radio-group>
          <ion-item>
            <ion-label>CoE</ion-label>
            <ion-radio slot="start" value="100"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>IT</ion-label>
            <ion-radio slot="start" value="200"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>IS</ion-label>
            <ion-radio slot="start" value="500"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>CS</ion-label>
            <ion-radio slot="start" value="1000"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>
  </ion-card>
  <ion-card class="donation-card">
    <ion-card-header>
      <ion-card-title class="text" color="light" >What are the 4 major tools for developing a webpage?</ion-card-title>
      <ion-icon class="load" name="create-outline" size="large" (click)="presentPopover($event)"></ion-icon>
    </ion-card-header>
    <ion-card-content>
      <ion-list>
        <ion-radio-group>
          <ion-item>
            <ion-label>html,css,js,php</ion-label>
            <ion-radio slot="start" value="100"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>php,py,java,ts</ion-label>
            <ion-radio slot="start" value="200"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>js,java,db,python</ion-label>
            <ion-radio slot="start" value="500"></ion-radio>
          </ion-item>

          <ion-item>
            <ion-label>C#,c++,C language,Python</ion-label>
            <ion-radio slot="start" value="1000"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>
    </ion-card-content>
  </ion-card>

  <ion-card class="donation-card">
    <ion-card-content>
      <ion-button expand="full" id="open-loading" [routerLink]="['/dashboard2']" >Upload Quiz</ion-button>
      <ion-loading trigger="open-loading" message="Uploading Quiz. Please Wait.." [duration]="3000" spinner="circles"></ion-loading>
    </ion-card-content>
  </ion-card>
</ion-content>