@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&family=Lexend:wght@100&family=Satisfy&display=swap');
  .logo{
    width: 140px;
    position: absolute;
    top: 20px;
    left: 120px;
    font-size: 18px;
    }

#container {
  text-align: center;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
  left: 0;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
}
#container strong {
  font-size: 20px;
  line-height: 26px;
  background-image: linear-gradient(120deg, #d4fc79 0%, #96e6a1 100%);
}
.bg-color{
  --background: #0d331f;
}
.card{
  background-color: #ebfde6 ;
  max-width: 100%;
  height: 400px ;
  top: 200px;
  object-position: center ;
  margin-left: 10px;
  box-shadow: 3px 3px 3px 2px #166b1d;
}
.logo{
  width: 140px;
  position: absolute;
  top: 75px;
  left: 120px;
  z-index: 1;
  border-radius: 10px;
  }
  .logo1{
   margin-top: 0px;
    margin-left:0px ;
    position: absolute;
    z-index: -1;
  }
#Email{
  position: relative;
  --border-color: black;
  --border-radius: 20px;
  --border-width: 1px;
  --box-shadow: 2px gray;
  --highlight-height: 0;
  --background: #f8f9fa;
  margin-left:15px ;
  color:black;
 
  margin-top:30px ;
  line-height: 15px;
  margin-left: 15px ;
    margin-right: 15px;
}
#pass{
  position: relative;
  --border-color: black;
  --border-radius: 20px;
  --border-width: 1px;

  --highlight-height: 0;
  --background: #f8f9fa;
  margin-left:15px ;
  color:black;
  margin-top:50px ;
  line-height: 15px;
  margin-left: 15px ;
    margin-right: 15px;
}
   .signin{
    position: relative;
    margin-left: 15px ;
    margin-right: 100px;
    width: 250px;
    top: 10px;
    font-size: 16px;
    color: #fff;
    --background: #0d331f;
    display: inline-block;
   }
   .enterEmail{
    margin-left: 15px ;
   }
   .enterpass{
    margin-left: 15px ;
   }
   .small-text{
    margin-left: 65px;
    top: 500px;
  }
   .back{
    margin-bottom: 5px;
    position: absolute;
   }
.footer{
  margin-top: 1px;
  
  ion-toolbar{
    --background: #0d331f;
  }
  ion-title{
    font-size: 15px;
    color: #fff;
    text-align: center;
    font-family: 'Great Vibes', cursive;
  }
}