.footer{
    margin-top: 420px;
    
    ion-toolbar{
      --background: #166b1d;
    }
    ion-title{
      font-size: 15px;
      color: #fff;
      text-align: center;
      font-family: 'Great Vibes', cursive;
    }
  }